body{
  background: black;
  height:100%;
  width:100%;
}

.header marquee{
  padding-top:25px;
  font-size: 2.25em;
  behavior: scroll;
  direction: left;
  color: green;
}

.header{
  color: white;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  border: solid;
}

.left{
  margin-top:50px;
  text-align:left;
  color: #ffffff;
  width:525px;
  height:575px;
  border:solid;
}
.left h4{
  text-align:center;
  color:green;
}

.left img{
  margin-left: 35px;
  width: 450px;
  height: 500px;
}

.right1{
  margin-left:750px;
  border: solid;
  width:650;
  height:300;
  color: #ffffff;
  text-align: right;
}

.right1 marquee{
  padding-top:25px;
  font-size: 1.5em;
  behavior: scroll;
  direction: right;
  color: green;
}

.right1 img{
  margin-right:80px;
  height:200px;
  width:500px;
}

.right2 img{
  margin-left:450px;
  margin-top:-800px;
}
